pkgbase = python-etils
	pkgdesc = Collection of eclectic utils for python
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/google/etils
	arch = any
	license = Apache
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python-typing_extensions
	optdepends = ipython: for etils.ecolab
	optdepends = python-absl: for etils.eap, etils.etqdm
	optdepends = python-dm-tree: for etils.etree.tree
	optdepends = python-importlib_resources: for epath
	optdepends = python-jax: for etils.etree.jax
	optdepends = python-mediapy: for etils.ecolab
	optdepends = python-numpy: for etils.array_types, etils.ecolab, etils.enp
	optdepends = python-simple-parsing: for etils.eap
	optdepends = python-tensorflow: for etils.etree.nest
	optdepends = python-tqdm: for etils.etqdm
	optdepends = python-zipp: for etils.epath
	source = python-etils-1.3.0.tar.gz::https://github.com/google/etils/archive/refs/tags/v1.3.0.tar.gz
	sha256sums = 9316f84d6d94716ce4260f02d812dadc36ea9e5a1b2ff4ab542b9069b547904a

pkgname = python-etils
